<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Database" value="Cassandra"/>

    <add key="SQLServer.Host" value="sqlserver"/>
    <add key="Cassandra.Host" value="cassandra"/>

    <add key="Pizzeria.Host" value="pizzeria"/>
    <add key="Pizzeria.Port" value="80"/>

    <add key="Pizzeria.ReadinessPort" value="9080"/>
    <add key="PizzaBaker.ReadinessPort" value="9080"/>
  </appSettings>
</configuration>