<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Pizzeria.Host" value="pizzeria"/>
    <add key="Pizzeria.Port" value="9090"/>

    <add key="Cassandra.Host" value="cassandra"/>
  </appSettings>
</configuration>